<% @articles.each do |a| %>

	<% link_to a %>

		<h2><%= a.title %></h2>
	
		TODO Each article, make a link to each title and date and beginning of articles, truncated.

	<% end %><!-- end link to each article -->

<% end %><!-- end articles ruby block -->

