<section id="careers-container" class="container"> 
	<h1>We are expanding! See job openings with Socialwise below.</h1>
	<hr class="half-width">

	
	<% @jobs.each do |job| %>
		<div>
			
			<h3 class="green">Position: <%= job.title %></h3>

		</div><!-- end .row -->



		<div class="larger">
			<strong>Location:</strong> <%= job.location %>
		</div><!-- end .row -->

		<div class="larger"><strong>Job Description:</strong> <%= job.description.html_safe %>
		</div>

		
		<button type="button" data-toggle="modal" data-target="#jobsModal" class="btn btn-success btn-lg"><a>Apply</a></button>
		<hr>

	<% end %>


</section>


