<section id="careers-container" class="container"> 
	<h1>We are expanding! Browse all job openings with Socialwise below.</h1>
	<section class="text-right" id="jobs-summary-section">
		<p>Available positions:</p>
			<ul>
				<li>Executive Assistant</li>
				<li>Sales Representative</li>
			</ul>
	</section><!-- end jobs summary section -->
	<hr class="half-width">

	<!-- todo. Jobs should be pulling from database seeded files. Hard coding is a temporary fix. Erase and fix this. -->
	<%= render 'layouts/jobs_temporary_hard_code' %>
	
	<% @jobs.each do |job| %>
		<div id="job_id_#{job.id}">
			
			<h3 class="green">Position: <%= job.title %></h3>

		</div><!-- end .row -->

		<div class="larger">
			<strong>Location:</strong> <%= job.location %>
		</div>

		<div class="larger"><strong>Job Description:</strong> <%= job.description.html_safe %>
		</div>

		
		<button type="button" data-toggle="modal" data-target="#jobsModal" class="btn btn-success btn-lg"><a>Apply</a></button>
		<hr>

	<% end %>


</section>


