<section id="careers-container" class="container"> 
	<h1>We are expanding! See job openings with Socialwise below.</h1>
	<hr class="half-width">

	
	<% @jobs.each do |job| %>
		<div class="text-center">
			
				<h3 class="green">Position: <%= job.title %></h3>

		</div><!-- end .row -->



		<div class="text-center larger">
			<strong>Location:</strong> <%= job.location %>
		</div><!-- end .row -->
		

		<span><h3 class="text-center">Description:</h3> 
			<%= job.description.html_safe %>
		</span>

		<span><button class="text-center btn btn-success apply-button">Apply TODO</button></span>
		
		<hr>

	<% end %>


</section>


