
/*
Project by Alison Ostendorf
team@virgoventures.org
Project name: Socialwise Partners Inc. Company Blog
*/


$green: #228E50;
$brown: #86765F;
$gray: #BEBEBE;
$btn-success-bg: #228E50;
$dropdown-link-active-color: #86765F;

.articles_index {
	h3 {
		text-align: center;
		color: $brown;
	}
}

.article-preview {
	/*border: 1px solid black;*/
	padding: 20px;
	border-radius: 3px;
}

.article-preview:hover {
	background: lighten($brown, 50%);
}



aside section {
	/*border-bottom: 1px solid $green;*/
	margin: 15px;
	padding: 20px;
}

#aside-content-area {
	color: $green;
}

h2, a {
	color: $green;
}

h3 {
	text-indent: none;
	padding-left: 0px !important;
}

a:hover {
	color: darken($green, 15%);
	text-decoration: none;
	transition: 0.1s ease-in;
	/*font-weight: bold;*/
}

.apply-button {
	margin: 15px;
}
.brown {
	color: $brown;
}
.btn-success {
	background-color: $green;
}

button a {
	color: white !important;
}
#careers-container h1 {
	text-align: center;
	font-size: 18px;
	p {
		margin: 25px 3px 25px 0px !important;
	}
}
.conclusion {
	font-size: 2em;
}

footer p {
	color: $brown;
}

footer p i {
	font-size: 35px;
	margin: 5px;
}

.footer-leaf {
	height: 35px;
	margin: 6px;
}

.fun-text {
	font-size: 20px;
	font-style: italic;
}

.green {
	color: $green;
}

h1 {
	font-size: 22px;
	text-align: center;
	color: $brown;
}

.half-width {
	width: 50%;
}

.img-wrap-right {
	float: right;
	padding: 10px;
	max-height: 200px;
}

.img-center {
	float: center;
	max-height: 200px;
	margin: 0 auto;
}

#jobs-summary-section li {
	list-style: none;
	list-style-type: none;
}

.larger {
	font-size: 18px;
	padding-bottom: 20px;
}

.logo-navbar {
	max-height: 40px;
	padding: 5px;
	margin-top: 5px;
	margin-left: 10px;
}

main {
	padding: 20px;
	p {
		font-size: 18px;
	}
	h3 {
		padding: 15px;
	}
}

nav a {
	color: $green;
}

ol li {
	font-size: 18px;
}

/*for nav styling when page is active*/

.jobs_index, .jobs_show {
	#careers_nav_link {
		background: lighten($brown, 46%);
	}
}
.articles_index, .articles_show {
	#blog_nav_link {
		background: lighten($brown, 46%);
	}
}

/*end nav styling for active pages*/



.pages_home, .pages_story_of_sw {
	margin-top: 30px;
}

#social-media-container i {
	font-size: 25px;
	padding: 5px;
}

.tagline-* {
	color: lighter($gray, 35%);
}

.tagline-lg {
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	position: relative;
	top: 11px;
	left: 10px;
}

.tagline-sm {
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	position: absolute;
	top: 20px;
	right: 75px;

}

@media only screen and (max-width: 500px) {
	.tagline-sm {
		position: absolute;
		top: 65px;
		margin: 0 auto;
	}
	.jobs_index {
		.tagline-sm {
			display: none;
		}
	}
}




