<div class="text-center">
	<p>To apply for this job, please email </p>
	<p><strong>admin@so-wise.com</strong></p>
	<p>with your resume and a little bit about your specific qualifications for this particular job.</p>
	<br>
	<p>Thank you!</p>
</div>