<div class="articles">

<h3>"Hi. We’re a green business. Here’s our large paper catalog.”</h3>

<p>Ok, we don’t offer the paper version of our entire product list that fast to a new prospective client.  Some of you do actually want to buy from us immediately just because you like the <span title="mission: giving 100% of net profits to charitable causes*, being as green a business as we possibly can, great customer service, etc. other amazing things"><i>company mission</i></span> <!-- (TODO tooltip hover) -->.  But most companies are resistant to change and require a little more work. </p>

<p>So we do offer a paper catalog, and we do think it’s an important thing to do.   Here’s why…</p>

<h3>Reason #1: Understand the Sheer Mass of Products</h3>

<p>We sell over 40,000 items, including traditional office supplies, furniture, janitorial, etc., and that number is always growing. <b>But So what?</b> </p>

<p>Do you, The Customer, really get how many things that is?  Probably not. You still want to go to Amazon or Staples or some other larger, more recognized store, because you’ve bought from that providor before and (hopefully) they’ve had the product you wanted.  It's not easy for us to change those habits.</p>

<p>We've offered our catalog to clients. Most of them have taken it and said something like “Oh, wow, I didn’t realize that you could sell so much. I thought you were a new company.”</p>

<p>Yeah, we are a new company.  But that doesn't mean we have a tiny offering. </p>

<p>And there are even more products online. <%= link_to 'Check it out.', "http://www.so-wise.com", target: "none" %></p>

<h3>Reason #2: It takes up physical space in your office.</h3>

<p>The catalog is a big book. Its even a little annoying to carry around.  After we give it to you, you’re going to have to do something with it.</p>

<p>You can do the following things with our catalog:</p>
<ol>
     <li>throw it away</li>
     <li>file it away</li>
     <li>stare at it on your desk</li>
     <li>sit on it</li>
     <li>stand on it to better reach the top shelf</li>
     <li>call attention to yourself by throwing it at the wall when life gets hard</li>
     <li>actually look through it</li>
</ol>
<p>Of course we prefer the latter, but really any of them would be fine.</p>

<p><b>Why?</b></p>

<p>We just want to remind you of our brand, as many times as we can, without being annoying.</p>

<p>Most advertisers know that it takes at least 7 touches for a customer to trust your company.  These can be a physical meeting, a phone call, an email that you actually read, a tweet, an ad, an old fashioned letter, etc.</p>

<p>Forcing you to do something with our big huge paper catalog means that we just interacted with you again.  How efficient.</p>

<h3>Reason #3: It’s like we brought you a little gift.</h3>

<p>If I am your rep, and I come in to your office for the main purpose of giving you a thing that shows you how to <i>save your company money</i> AND do other cool things like <i>donate to charitable causes</i>, you’ll probably feel more connected to me than if I send you an email with a link to our website.</p>
<p>You’ll see that as your rep, I care about making sure you know your options. You’ll see that I take time out to meet with you as a person.  I’ll answer any questions you have on the spot, in front of you, like back in the ‘90s.</p>

<h3>Why does it matter that you like us?</h3>

<p>We give our net profits to charity.  100% of them, <small>minus taxes and retained growth funds.</small> The more we sell, the more money we’ll have to give to charitable causes. <br>
We cannot sell to you if you don’t believe that we can deliver. <br>
If you don't SEE us deliver, you probably won't believe it.<br>
If you don't believe it, we don't make any sales, and we cannot give profit to charity. </p>


<p class="text-center">Then the world looks like this.</p>

<p><%= image_tag('sad_face.jpg', class: 'img-center img-responsive') %></p>

<p class="text-center">And nobody wants that.</p>

<p><strong>In the end, is failing to sell more green than giving out catalogs?</strong></p>

<h4>Until EVERY company is fully green and gives ALL their profit to good causes, it's more green for us to give you a catalog and get your business.</h4>

<h3><strong>Giving you our catalog = "I’ll be there for you."</strong></h3>

<span class="text-center green">
	<p>That said, if you don’t need a catalog to start working with us, click here to </p>
	<p>
	<button class="btn btn-sm btn-success"><a href="http://www.so-wise.com">Become a customer</a></button>
	</p>
	<p class="text-center">And thank you for being So Wise! </p>
</span>



</div>