<aside id="aside-content-area">
	<!-- note that this aside section represents all additional home page details -->
	<section id="current-news">
		TODO current social media / poll question
		<p>TODO embed twitter social media feed 
			<!-- https://dev.twitter.com/web/embedded-timelines -->
		</p>
	</section>
	<section id="newsletter-sign-up">
		<div id="social-media-container" class="text-center">

			<%= render "layouts/social_media" %>

		</div><!-- end social media container -->
		
		<br>
		<div class="text-center">
			<button type="button" data-toggle="modal" data-target="#newsletterModal" class="btn btn-success btn-sm"><a class="text-center">Join our Newsletter</a></button>
			<%= render 'layouts/newsletter_modal' %>
		</div>
	</section>
	<!-- <section id="donated-to">
		TODO We have donated to
	</section> -->
	<section id="articles-summary">
		<h4>Summary of articles</h4>
		<ul>
			<% @articles.each do |a| %>
				<li><%= link_to a.title, article_path(a) %></li>
			<% end %>
		</ul>


	</section>
	<section id="why-is-socialwise-different">
		<h4>What makes us different?</h4>
		<p>alkjfdal asdfjhadfks</p>
		<h4>Why become a customer?</h4>
		<p>alkjfdal asdfjhadfks</p>
		<br>
		<div class="text-center">
			<button class="btn btn-success"><a href="http://www.so-wise.com/" target="blank">Become a customer</a></button>
		</div>
	</section>
	<section>
		<h4>What inspires us:</h4>
		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	
		</p>

	</section>
</aside>