<hr>
	<footer class="container">
		<div class="row text-center">
			<div class="col-sm-4">
				<p>Blog of <a href="http://www.so-wise.com" target="blank">Socialwise Partners Inc.</a></p>
			</div><!-- end .col-sm-4 -->
			<div class="col-sm-4 col-xs-12">
				<%= image_tag('sw_leaf.png', class: 'footer-leaf') %>
				<p><%= render "layouts/social_media" %></p>
				<p><button type="button" data-toggle="modal" data-target="#newsletterModal" class="btn btn-success btn-xs"><a class="text-center">Join our Newsletter</a></button></p>
			</div><!-- end .col-sm-4 -->
			<div class="col-sm-4 col-xs-12">
				<p>Developed by <a href="http://www.virgoventures.org" target="blank">Virgo Ventures LLC</a></p>
			</div>
		</div><!-- end row text-center -->
		<br>
	</footer>
