

<!-- Modal for jobs-->
<div class="modal fade" id="jobsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel2">Work with Socialwise</h4>
      </div>
      <div class="modal-body">
        <%= render 'layouts/apply_instructions' %>
      </div>
      <div class="modal-footer text-right">
        Thank you!
      </div>
    </div>
  </div>
</div>