<br>
<form action="https://tinyletter.com/Socialwise_Partners_Inc" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/Socialwise_Partners_Inc', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
	<div class="text-center form-group">
		<h4>
			<label for="tlemail">Please enter your email address</label>
		</h4>
		<p>
			<input type="text" name="email" id="tlemail" class="form-control" placeholder="You@YourCompany.com">
		</p>
	</div>

	<input type="hidden" value="1" name="embed"/>

	<div class="text-center">
		<input type="submit" value="Subscribe" class="btn btn-success">
	</div>

</form>
         