

<!-- Modal -->
<div class="modal fade" id="newsletterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title newsletter-title" id="myModalLabel"><%= image_tag('sw_leaf.png', class: 'newsletter-leaf') %>Socialwise Email Newsletter</h4>
      </div>
      <div class="modal-body">
        <%= render 'layouts/newsletter_sign_up_code' %>
      </div>
      <div class="modal-footer text-center">
        <!-- <button type="button" class="text-center btn btn-success">Sign Up</button> -->
        <p>Have a happy <%= Date.today.strftime("%A") %>!</p>
      </div>
    </div>
  </div>
</div>