<!-- below is agile crm newsletter sign up code for socialwise partners inc -->

<form class="form-view" id="agile-form" action="https://socialwise.agilecrm.com/formsubmit" method="GET">
<fieldset>

<!-- Form Name -->
<!-- <legend>Subscribe to Socialwise Newsletter</legend> -->
<div style="display: none; height: 0px; width: 0px;">
<input type="hidden" id="_agile_form_name" name="_agile_form_name" value="Subscribe to Socialwise Newsletter">
<input type="hidden" id="_agile_domain" name="_agile_domain" value="socialwise">
<input type="hidden" id="_agile_api" name="_agile_api" value="c0d6jgbkucg4e4tg7e0evd9ktl">
<input type="hidden" id="_agile_redirect_url" name="_agile_redirect_url" value="https://socialwise-blog.herokuapp.com/">
<!-- todo change the redirect url to be more growth-friendly -->
<input type="hidden" id="_agile_form_id_tags" name="tags" value="SW_email_newsletter">

<input type="hidden" id="_agile_form_id" name="_agile_form_id" value="5757715179634688">
</div>
<!-- Text input-->
<div class="required-control" id="newsletter-sign-up-text">
  <label class="brown sleek-label" for="agilefield-2">Your Name</label>
  <div>
	<input id="agilefield-2" name="first_name" type="text" placeholder="eg. Madame Greatness" class="form-control" required="">
  </div>
  <div class="agile-custom-clear"></div>
</div><br>
<!-- Text input-->
<div class="required-control">
  <label class="brown sleek-label" for="agilefield-1">Your Email Address</label>
  <div>
	<input id="agilefield-1" name="email" type="email" placeholder="eg. Me@MyFantasticCompany.com" class="form-control" required="">
  </div>
  <div class="agile-custom-clear"></div>
</div>
<!-- Button -->
<div class="text-center">
  <label class="agile-label">&nbsp;</label>
  <div class="agile-field">
    <button type="submit" class="btn btn-success">Get So Wise News</button><span id="agile-error-msg"></span>
  </div>
</div>

</fieldset>
</form>
<style type="text/css">
.form-view{font-family:Tahoma,Geneva,sans-serif;width:99%}.agile-group{margin-bottom:15px}.agile-label{float:left;overflow:hidden;padding:7px 25px 4px 0;text-align:left;word-wrap:break-word;width:100%;font-size:15px}.agile-group label{font-weight:400}.agile-label::first-letter{text-transform:capitalize}.agile-field{display:inline-block}.agile-field-small{width:100px}.agile-field-medium{width:150px}.agile-field-large{width:200px}.agile-field-xlarge{width:250px}.agile-height-small{padding:5px 10px!important}.agile-height-default{padding:6px 12px!important}.agile-height-large{padding:10px 16px!important}.agile-field input[type=email],.agile-field input[type=text]{padding:6px 12px}.agile-field select{border-radius:4px;border:1px solid #ccc;width:100%;box-shadow:0 1px 1px rgba(0,0,0,.075) inset}.agile-input-group{border-collapse:separate;display:table;position:relative}.agile-input-group input[type=email],.agile-input-group input[type=text]{display:table-cell}.agile-input-group .agile-group-addon:first-child,.agile-input-group input[type=email]:first-child,.agile-input-group input[type=text]:first-child{border-bottom-right-radius:0;border-top-right-radius:0}.agile-input-group .agile-group-addon:last-child,.agile-input-group input[type=email]:last-child,.agile-input-group input[type=text]:last-child{border-bottom-left-radius:0;border-top-left-radius:0}.agile-group-addon:first-child,.agile-input-group input[type=email]:first-child,.agile-input-group input[type=text]:first-child{border-right:0 none}.agile-group-addon{background:#eee;border:1px solid #ccc;display:table-cell;font-size:14px;padding:3px 12px;text-align:center}.agile-group-addon-append{border-bottom-right-radius:4px;border-top-right-radius:4px}.agile-group-addon-prepend{border-top-left-radius:4px;border-bottom-left-radius:4px}input[type=email],input[type=password],input[type=url],input[type=text],textarea{border:1px solid #ccc;border-radius:4px;box-shadow:0 1px 1px rgba(0,0,0,.075) inset;color:#555;font-size:14px;line-height:1.42857;transition:border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;width:100%;margin:0}input[type=email]:focus,input[type=url]:focus,input[type=password]:focus,input[type=text]:focus,textarea:focus{border:1px solid #66afe9}.agile-btn-red{background:#ff604f!important;margin-left:10px}.help-block{color:#999;margin:0;font-size:14px;text-transform:capitalize}legend{border-bottom:1px solid #eee;margin-bottom:18px;padding-bottom:6px;width:100%;font-weight:700;font-size:20px}fieldset{border:none}.agile-custom-clear{clear:both}#agile-error-msg{position:relative;top:2px;left:8px;color:red;font-size:12px}.error{color:red}.agile-form-transparent input,.agile-form-transparent select,.agile-form-transparent textarea{background-color:transparent !important;border:1px solid #fff;border-radius: 0 !important;}.agile-form-transparent ::-webkit-input-placeholder{color:#fff}.agile-form-transparent :-moz-placeholder{color:#fff}.agile-form-transparent ::-moz-placeholder{color:$brown}.agile-form-transparent :-ms-input-placeholder{color:#fff}
</style>
<script type="text/javascript">
(function(a){var b=a.onload,p=false;if(p){a.onload="function"!=typeof b?function(){try{_agile_load_form_fields()}catch(a){}}:function(){b();try{_agile_load_form_fields()}catch(a){}}};a.document.forms["agile-form"].onsubmit=function(a){a.preventDefault();try{_agile_synch_form_v4()}catch(b){this.submit()}}})(window);
</script>
<!-- below was old, temporary sign up code, until we figured out where Agile was located.  -->

<!-- <br>
<form action="https://tinyletter.com/Socialwise_Partners_Inc" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/Socialwise_Partners_Inc', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
	<div class="text-center form-group">
		<h4>
			<label for="tlemail">Your email address <span class="green shift-down">&nbsp;&#10549;</span></label>
		</h4>
		<p>
			<input type="text" name="email" id="tlemail" class="form-control" placeholder="You@YourCompany.com">
		</p>
	</div>

	<input type="hidden" value="1" name="embed"/>

	<div class="text-center">
		<input type="submit" value="Subscribe" class="btn btn-success">
	</div>

</form> -->
         